.backdrop_modal_select {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    background-color: rgba(66, 65, 65, 0.87);
    z-index: 99;
}
.box__modal--select {
    margin-left: -150px;
    position: absolute;
    bottom: -20px;
    border-radius: 15px;
    background-color: #daccd6;
    color: #822366;
    padding-bottom: 20px;
    .body__modal--select {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-top: 0px;
        .btn__nav-header_top {
            // width: 100px;
            height: 5px;
            margin: 5px;margin-bottom: 10px;
            // background-color: #948d91;
            background-color: #ad9da8;
            border-radius: 5px;
            cursor: n-resize;
            animation: an_btn_top_header 0.5s forwards ease-out;
        }
        @keyframes an_btn_top_header {
            50% {
                width: 0px;
            }
            100% {
                width: 100px;
            }
        }
        .container__content--select {
            width: 100%;
            .column__option--select {
                width: 100%;
                padding: 10px;
                background-color: #e7dce5;
                border-radius: 5px;
                margin-top: 5px;
                .row__btn--task {
                    display: flex;
                    .item_btn--task{
                        width: 100%;
                        display: flex;
                        cursor: pointer;
                        margin: 0px 10px;
                        padding: 0px 20px;
                        border: none;
                        background: none;
                        color: #53103f;
                        div{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            > i{
                                margin-right: 10px;
                            }
                            > span:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .body_select_status--option {
                    > div{
                        padding:8px;
                        padding-left: 15px;
                        cursor: pointer;
                        transition: 0.4s;
                        border-radius: 5px;
                        > i{
                            font-size: 20px;
                        }
                        > span {
                            margin-left:20px ;
                        }
                    }
                    > div:hover{
                        background-color: #d1bccb;
                    }
                }
            }
        }
    }
}
