.menu {
    flex: 2;
    height: 100vh;
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 80px;
    border-right: 1px solid #f8e1f1;
    .menu__column {
        width: 100%;
        height: 100%;
        padding-top: 0px;
        padding: 10px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        @import url("../../../my-account/style_option_info.scss");
        .menu__column--block--item {
            height: 100%;
            margin-bottom: 20px;
        }
        .menu__column--select-li {
            flex: 4;
            border-radius: 15px;
            box-shadow: rgba(49, 7, 56, 0.171) 0px 3px 8px;
            overflow: hidden;
            border: 1px solid #ebc4dd;
            background-color: #fff5fb;
            .menu__column--item {
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 10px;
                    color: #74215b;
                    font-size: 17px;
                    // font-weight: 600;
                    user-select: none;
                    border-radius: 10px;
                    transition: all 0.3s;
                }
                div {
                    flex: 9;
                    display: flex;
                    justify-content: left;
                }
                i {
                    flex: 2;
                    margin-right: 20px;
                    margin-left: 3px;
                    font-size: 17px;
                }
                a:hover {
                    // background-color: #f8e4f1;
                    div {
                        text-decoration: underline;
                    }
                    i {
                        text-decoration: none;
                    }
                }
            }
        }
        .menu__column--select-li:hover {
            overflow-y: scroll;
        }
        .menu__column--select-li::-webkit-scrollbar {
            width: 5px;
        }
        .menu__column--select-li::-webkit-scrollbar-thumb {
            background: #dfc8d7;
            border-radius: 5px;
        }
    }
}
.complementary {
    flex: 3.4;
    height: 100vh;
    position: sticky;
    top: 0px;
    background-color: #fff3fb;
    border-left: 1px solid #f3d1e9;
    padding: 20px;
    padding-top: 90px;
    .body__complementary {
        .box__row--comlementary {
            width: 100%;
            box-shadow: #5531476b 0px 2px 7px 0px;
            padding: 10px;
            border-radius: 10px;
            background-color: #ffffff;
        }
    }
}
