.body {
    width: 100%;
    height:100%;
    display: flex;
    .item_content--home {
        width: 100%;
    }
    .body__row-flex {
        flex: 7;
        .body__row-flex--main {
            margin: 80px;
            margin-top: 90px;
            //notFound
            .body__notFound {
                width: 100%;height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                .block__comlumn--notFound {
                    height: 100%;
                    margin-top: -70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #971329;
                    .item__notification--notFound {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;
                        i{
                            font-size: 90px;
                            color:rgb(231, 71, 71) ;
                            margin-bottom: 10px;
                        }
                        .text_h2{
                            font-size: 27px;
                            font-weight: bold;
                            color:rgb(231, 71, 71)  ;
                            margin: 15px;
                        }
                        .text__notification--notFound{
                            font-size: 19px;
                            line-height: 25px;
                            text-align: center;
                        }
                        .text__go-home{
                            padding:5px 10px 5px 10px;
                            margin-top: 20px;
                            border:2px solid #9b2548;
                            font-size: 19px;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: all 0.4s;
                            text-decoration: none;
                            color: #971329;
                        }
                        .text__go-home:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}
