.menu__column--my-account {
    flex: 6;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: #5531476b 0px 2px 7px 0px;
    background-color: #ffffff;
    .menu__column--option_infomation {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 7px;
        .background__option--information {
            width: 100%;
            height: 50px;
            // background-color: #a30674;
            // background: linear-gradient(90deg, #ca3ca0, #bb1f8c 40%, #b83d93 65%);
            background-color: #c93a9e;
            border-radius: 8px;
            box-shadow: #00000015 0px 3px 8px;
        }

        .box__content--information {
            width: 100%;
            border-radius: 10px;
            padding: 5px;
            color: #822366;
            display: flex;
            flex-direction: column;
            align-items: center;

            .border__avatar--user {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                position: relative;
                top: -40px;
                margin: 0px auto;
                // box-shadow: #5531475b 0px 2px 7px 0px;
                border: 4px solid #ffffff;

                .avatar__img {
                    width: 100%;
                    border-radius: 100%;
                    position: relative;
                    margin: auto;
                    // box-shadow: rgba(151, 4, 219, 0.212) 0px 2px 8px;
                }
            }
            .border__avatar--user:hover + .content__name--user a {
                text-decoration: underline;
                i {
                    color: #e7b3d5;
                }
            }
            .content__name--user {
                width: 100%;
                margin: 5px;
                margin-top: -25px;
                a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    .text_name--user {
                        font-size: 16px;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: center;
                        color: #822366;
                    }
                }
                a:hover {
                    text-decoration: underline;
                    transition: 0.2s;
                }
            }
            .content__story--user {
                width: 85%;
                height: 100%;
                border: 1px solid #f5eaf1;
                border-radius: 5px;
                padding: 5px;
                margin-top: 5px;
                margin-bottom: 15px;
                overflow-y: auto;
                .content__story {
                    font-size: 14px;
                    text-align: center;
                }
            }

            .btn__stories--user {
                width: 100%;
                display: flex;
                padding: 0px 10px;
                .item__btn {
                    width: 100%;
                    border: 1px solid #f1d1e8;
                    background-color: #f7eaf2;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: all 0.4s;
                    font-weight: bold;
                    text-align: center;
                    font-size: 16px;
                    color: #822366;
                    padding: 3px;
                    i {
                        font-weight: bold;
                    }
                }
                .btn__edit--bio {
                    flex: 7;
                }
                .btn__next--slide {
                    flex: 3;
                    margin-left: 20px;
                }
                .item__btn:hover {
                    background-color: #ebcde3;
                }
            }
        }
    }
}













