.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 217, 234, 0.938);
    z-index: 99;
}
.box_modal {
    max-width: 600px;
    border-radius: 15px;
    background-color: #fff3fb;
    color: #822366;
    box-shadow: rgba(42, 11, 48, 0.459) 0px 3px 8px;
    padding: 25px;
    padding-top: 10px;
    .modal__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        .item_header {
            width: 100%;
        }
        .header__text {
            flex: 9;
            // border-bottom: 1px solid #e4c7dc;
            display: flex;
            align-items: center;
            justify-content: left;
            padding: 12px;
            padding-left: 5px;
            color: #822366;
            .text_heading_header {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .modal__btn--close {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: right;
            .btn__close--icon {
                width: 40px;
                height: 40px;
                padding: 3px;
                border: 1px solid #e9ccda;
                border-radius: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.4s;
                color: #b8609d;
                i {
                    font-size: 27px;
                }
            }
            .btn__close--icon:hover {
                background-color: #f0d3e9;
            }
            .btn__close--icon:active {
                transform: scale(0.95);
            }
        }
    }
    .btn_top_animations {
        width: 100%;
        height: 3px;
        background-color: #c9a5be;
        border-radius: 5px;
        animation: an_btn_top_animations 0.5s forwards ease-out;
    }
    @keyframes an_btn_top_animations {
        50%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
        }
    }
    .modal__body {
        width: 100%;
        max-height: 350px;
        padding: 15px;
        // background-color: #fcf6fa;
        font-size: 20px;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 0px;
        div {
            line-height: 30px;
        }
    }
}
