.body {
    width: 100%;
    height: 100%;
    display: flex;
    .item_content--home{
        width: 100%;
    }
    .body__row-flex {
        flex:7;
        .body__row-flex--main {
            margin: 60px;
            margin-top: 90px;
        }
    }
}
