.App{
    .body{
        width: 100%;
            .body__row-flex{
                padding-top: 70px;
                padding-left: 270px;
                padding-right: 380px;
                .body__row-flex--main{
                    padding: 20px;
                }
            }

    } 
}