* {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //     sans-serif;
    font-family: Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0px;
    position: relative;
    top: 0px; 
}

.App {
    width: 100%;
    margin: 0px auto;
    background-color: #fff3fb;
    .header {
        width: 100%;
        height: 60px;
        background: linear-gradient(105deg, #963d7b,#7e2e66, #7e3768 65%, #822366 80%);
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5;
        color: #ffffff;
        
        .header__wrap--row {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0px 20px;
            .header__wrap--item {
                width: 100%;
                height: 100%;
                padding: 10px 0px;
                display: flex;
                align-items: center;
                .item__icon {
                    width: 100%;
                }
            }
            .item__icon-logo {
                flex: 1;
                height: 100%;
                padding-left: 5px;
                #id_logo {
                    width: 105px;
                    height: 100%;
                }
            }
            .item__icon-fa {
                flex: 0.5;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 10px;
                i {
                    font-size: 27px;
                    display: block;
                    cursor: pointer;
                    padding-left: 5px;
                    color: #ffffff;
                    transition: all 0.4s;
                }
                i:hover {
                    transform: scale(1.1);
                }
                i:active{
                    transform: scale(0.85);
                }
            }

            .wrap--item-logo {
                flex: 2.3;
            }
            .wrap--item-status {
                flex: 6.1;
                padding-left: 50px;
                padding-right: 50px;
                
                .text_status--menu {
                    flex: 1;
                    font-size: 23px;
                    display: flex;
                    .menu__column--nav {
                        width: 105px;
                        margin-right: 20px;
                        .item_header--item {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;
                            a {
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-decoration: none;
                                color: #fff3fb;
                                padding: 1px 20px;
                                border-radius: 5px;
                                transition: all 0.4s;
                                opacity: 0.85;
                                i {
                                    font-size: 20px;
                                    margin-bottom: 2px;
                                    margin-bottom: 2px;
                                }
                                .item__text--status {
                                    margin-top: 5px;
                                    font-size: 13px;
                                    user-select: none;
                                    letter-spacing: 0.03rem;
                                }
                            }
                            a:hover {
                                background-color: #8d3372;
                            }
                        }
                    }
                    .item_header--item a.active {
                        pointer-events: none;
                        background-color: #8d4176;
                        opacity: 1;
                        box-shadow: rgba(95, 33, 33, 0.219) 0px 3px 8px;
                        i {
                            color: #ffffff;
                            font-weight: 600;
                            font-size: 27px;
                            transform: translateY(0px);
                            animation: an_icon_menu_header 0.4s;
                        }
                        @keyframes an_icon_menu_header {
                            0% {
                                transform: translateY(10px);
                            }
                            50% {
                                transform: translateY(-5px);
                            }
                            100% {
                                transform: translateY(0px);
                            }
                        }
                        .item__text--status {
                            display: none;
                        }
                    }
                    .navigation_item--menu {
                        width: 100%;
                        height: 2px;
                        border-radius: 3px;
                        padding-left: 20px;
                        margin-right: 20px;
                        margin-top: 3px;
                        box-shadow: rgba(43, 10, 10, 0.356) 0px 3px 8px;
                        animation: an_navigation_menu 0.4s;
                        transform: scaleX(0.6);
                    }
                    @keyframes an_navigation_menu {
                        0% {
                            transform: scaleX(0.4);
                        }
                        60% {
                            transform: scaleX(0.8);
                        }
                        100% {
                            transform: scaleX(0.6);
                        }
                    }
                    .active_navigation {
                        background-color: #ffffff;
                    }
                }

                .text_status--work {
                    padding: 5px;
                    .float--work {
                        float: right;
                        display: flex;
                        border-left: 2px solid #8f4879;
                        .box__icon--work {
                            width: 40px;
                            height: 39px;
                            // border: 1px solid ;
                            border-radius: 100%;
                            font-size: 18px;
                            margin-left: 35px;
                            cursor: pointer;
                            padding: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // background-color: #fff3fb;
                            background-color: #B986AA;
                            color: #fff3fb;
                            transition: all 0.3s;
                            box-shadow: rgba(0, 0, 0, 0.116) 0px 3px 8px;
                        }
                        .box__icon--work:hover {
                            transform: scale(1.05);
                            
                        }
                        .box__icon--work:active {
                            transform: scale(0.85);
                        }
                    }
                }
            }
            .wrap--item-dropdown {
                flex: 3.9;
            }
        }
    }
    

}
