* {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //     sans-serif;
    // font-family: Roboto, Arial, sans-serif;
    font-family: -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0px;
    position: relative;
    top: 0px;

    .App {
        width: 100%;
        margin: 0px auto;
        background-color: #fff3fb;
        // background-color: #ffebf8;
        // background-image: url("./component/images/avatar_IU.jpg");
    }
    .header {
        width: 100%;
        height: 60px;
        // background: linear-gradient(105deg, #963d7b,#7e2e66, #7e3768 65%, #822366 80%);
        background-color: #822366;
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5;
        border-bottom: none;
        .header__wrap--row {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0px 20px;
            .header__wrap--item {
                width: 100%;
                height: 100%;
                padding: 5px 0px;
                display: flex;
                align-items: center;
                .item__icon {
                    width: 100%;
                }
            }
            .item__icon--logo {
                flex: 1;
                height: 100%;
                padding-left: 10px;
                #id_logo {
                    max-width: 100%;
                    height: 100%;
                }
            }
            .item__icon-fa {
                flex: 0.5;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 30px;
                .nav__checked_navication {
                    padding: 7px;
                    padding-left: 9px;
                    display: flex;
                    border-radius: 20px;
                    color: #eed7e6;
                    background-color: #963c7b;
                    cursor: pointer;
                    transition: all 0.5s;
                    > div {
                        width: auto;
                        font-size: 14px;
                        margin-right: 5px;
                        user-select: none;
                    }
                    i {
                        font-size: 22px;
                        display: block;
                        color: #ffffff;
                        transition: all 0.4s;
                    }
                    i:hover {
                        transform: scale(1.1);
                    }
                    i:active {
                        transform: scale(0.95);
                    }
                }
            }

            .wrap--item-logo {
                flex: 2.3;
            }
            .wrap--item-status {
                flex: 6.1;
                padding-left: 50px;
                padding-right: 50px;

                .text_status--menu {
                    flex: 1;
                    font-size: 23px;
                    display: flex;
                    .menu__column--nav {
                        width: 105px;
                        margin-right: 15px;
                        .item_header--item {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-decoration: none;
                                color: #fff3fb;
                                padding: 0px 20px;
                                border-radius: 5px;
                                transition: all 0.4s;
                                opacity: 0.95;
                                i {
                                    font-size: 18px;
                                    margin-top: 10px;
                                    margin-bottom: 3px;
                                }
                                .item__text--status {
                                    margin-top: 3px;
                                    font-size: 14px;
                                    user-select: none;
                                    // letter-spacing: 0.03rem;
                                    transition: all 0.5s;
                                }
                            }
                            a:hover {
                                background-color: #8d3372;
                            }
                        }
                    }
                    .item_header--item a.active {
                        pointer-events: none;
                        // background-color: #8d4176;
                        opacity: 1;
                        // box-shadow: rgba(95, 33, 33, 0.123) 0px 3px 8px;
                        i {
                            color: #ffffff;
                            font-weight: 600;
                            font-size: 32px;
                            margin-bottom: 7px;
                            transform: translateY(0px);
                            animation: an_icon_menu_header 0.4s;
                        }
                        @keyframes an_icon_menu_header {
                            0% {
                                transform: translateY(10px);
                            }
                            50% {
                                transform: translateY(-5px);
                            }
                            100% {
                                transform: translateY(0px);
                            }
                        }
                        .item__text--status {
                            display: none;
                        }
                    }
                    .navigation_item--menu {
                        width: 100%;
                        height: 2px;
                        border-radius: 3px;
                        padding-left: 20px;
                        margin-right: 20px;
                        margin-top: 4px;
                        box-shadow: rgba(43, 10, 10, 0.233) 0px 3px 8px;
                        animation: an_navigation_menu 0.4s forwards;
                        transform: scaleX(0.7);
                    }
                    @keyframes an_navigation_menu {
                        0% {
                            transform: scaleX(0);
                        }
                        60% {
                            transform: scaleX(0.8);
                        }
                        100% {
                            transform: scaleX(0.7);
                        }
                    }
                    .active_navigation {
                        background-color: #ffffff;
                    }
                }

                .text_status--work {
                    padding: 5px;
                    .float--work {
                        float: right;
                        display: flex;
                        border-left: 2px solid #8b3e73;
                        .box__icon--work {
                            width: 45px;
                            height: 44px;
                            border-radius: 100%;
                            font-size: 20px;
                            margin-left: 30px;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #ffffff;
                            transition: all 0.4s;
                            background-color: #914c7d;
                            border: 1px solid #a35c8a;
                            i {
                                margin: 5px;
                            }
                        }
                        .box__icon--work:hover {
                            background-color: #af679b;
                        }
                        .box__icon--work:active {
                            transform: scale(0.9);
                        }
                    }
                }
            }
            .wrap--item-dropdown {
                flex: 3.9;
            }
        }
    }
}
