* {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //     sans-serif;
    font-family:Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0px;position:relative; top:0px;
}

.App {
    width: 100%;
    margin: 0px auto;
    background-color: #fff3fb;
    .header {
        width: 100%;
        height: 60px;
        background: linear-gradient(105deg, #8a3871, #7e3768 62%, #822366 40%);
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
        position: fixed;
        top: 0px;left: 0px;
        z-index: 5;
        color: #ffffff;
        .header__wrap--row{
            width: 100%;height: 100%;
            display: flex;
            padding:0px 20px ;
            .header__wrap--item{
                width: 100%;height: 100%;
                padding: 10px 0px;
                display: flex;
                align-items: center;
                .item__icon{
                    width: 100%;
                }
            }
            .item__icon-logo{
                flex: 1;height: 100%;
                padding-left: 10px;
                #id_logo{
                    width: 105px;
                    height: 100%;
                }
            }
            .item__icon-bas{
                flex: 0.5;
                text-align: center;
                display: flex;
                align-items: center;
                margin-left: 5px;
                i{
                    font-size: 23px;
                    display: block;
                    cursor: pointer;
                    padding-left: 5px;
                }
            }
            
            .wrap--item-logo{
                flex: 2.15;
            }
            .wrap--item-status{
                flex: 7.2;
            }
            .wrap--item-dropdown{
                flex: 3.55;
            }
        }
    }
    .menu{
        width: 230px;
        height: 100vh;
        position: fixed;
        z-index: 2;
        background-color: #fff3fb;
        padding: 10px;
        padding-top: 70px;padding-bottom: 5px;
        border-right: 1px solid #f3d1e9;
        .menu__column{
            width: 100%;height: 100%;
            padding-top: 0px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            .menu__column--block--item{
                margin: 0px;
            } 
            .menu__column--select-li{
                flex:3.8;
                .menu__column--item{
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 5px;
                    a, button{
                        width: 100%;height: 100%;
                        display:flex;
                        align-items: center;
                        text-decoration: none;
                        padding: 10px;
                        color: #822366;
                        font-size: 18px;user-select: none;
                        border-radius:10px;
                        transition: all 0.3s;
                    }
                    
                    div {
                        margin-right: 30px;
                        display: flex;
                        justify-content: center;
                    }
                    i{
                        margin-right: 20px;margin-left:7px;
                        font-size: 18px;
                        color: #822366;
                        
                    }
                    a:hover, button:hover{
                        background-color: #f8e4f1;
                    } 
                    a.active{
                        // font-weight: 600;
                        // background-color: #570a40;
                        background: #822366;
                        box-shadow: rgba(49, 7, 56, 0.438) 0px 3px 8px;
                        color: #fff3fb;
                        i{
                            font-weight:bold ;
                            color: #fff3fb;
                        }
                    }
                    button{
                        border: none;
                        cursor: pointer;
                        background:none;
                        
                    }
                }
                
            }
            @import url("./component/my-account/style_op_bt.scss");
        }
        .menu__column--option-more{
            border: 0px solid #cea1c0;
            border-radius: 20px;
            background-color: #fff3fb;
            position: absolute;
            left:12px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(49, 7, 56, 0.336) 0px 3px 8px;
            display: none;
            .scrollbar_show{
                max-height: 385px;
                overflow-y: auto;
                .header_li--more{
                    width: 100%;
                    display: flex;
                    margin-bottom:10px;
                    padding-bottom: 5px;
                    border-bottom:1px solid #cea1c0;
                    position: sticky;top:0px;
                    background-color: #fff3fb;
                    .icon_back--more{
                        font-size: 20px;
                        color: #822366;
                        margin-right: 20px;margin-left: 15px;
                        cursor: pointer;
                        line-height: 30px;
                        transition: all 0.3s;
                    }
                    .icon_back--more:hover{
                            transform: scale(1.3);
                        }
                    .text__option--more{
                        font-size: 18px;
                        color: #822366;
                        line-height: 30px;
                        font-weight: bold;
                    }
                }
                .menu__item--more{
                    a{
                        div{
                            margin-left: 10px;
                        }
                    }
                }
                
            }
            .scrollbar_show::-webkit-scrollbar {
                width: 1px;
            }

            .scrollbar_show::-webkit-scrollbar-thumb {
                background: #dfc8d7; 
            }
           
        }

        
    }
    
    
    .complementary{
        width: 380px;height: 100vh;
        background-color: #fff3fb;
        border-left: 1px solid;
        position: fixed;top: 60px;right: 0px;
        padding: 20px;
    }
}