.box__create-status {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ffeffa;
    border-radius: 15px;
    box-shadow: #a38d9a8f 0px 2px 7px 0px;
    .body__create {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        .item__nav {
            width: 100%;
        }
        .header__create {
            width: 100%;
            display: flex;
            flex-direction: row;
            .item_header{
                width: 100%;
            }
            .btn__avatar--user {
                flex: 1;
                margin-right: 10px;
                .border__avatar--user {
                    width: 46px;
                    height: 46px;
                    padding: 2px;
                    border: 1px solid #b3749d;
                    border-radius: 100%;
                    .img--avatar {
                        width: 100%;height: 100%;
                        border-radius: 100%;
                        user-select: none;
                    }
                }
            }
            .create__text--think{
                flex: 9;
                border: 1px solid #ddb6d2;
                border-radius: 15px ;
                background-color: #fce3f446;
                cursor: text;
                .btn__input--content{
                    width: 100%;height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                    font-size: 17px;
                    color: #8d3f74;
                    user-select: none;
                    letter-spacing:0.2px;
                }
            }
        }
        .footer__create{
            width: 100%;
            margin-top: 20px;
            .btn__control--work{
                width: 100%;
                padding: 0px;
                display: flex;
                flex-direction: row;
                .item_control--work{
                    width: 100%;
                    border: 1px solid #f1d1e8;
                    display: flex;
                    padding: 6px;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    user-select: none;
                    color: #c25aa3;
                    transition: all 0.4s;
                    margin:0px 10px;
                    i{
                        font-size: 19px;
                        font-weight: bold;
                    }
                    #red{color: rgb(248, 123, 123);}
                    #blue{color: rgb(116, 116, 245)}
                    #yellow{color: rgb(211, 175, 16);}
                    #green{color: rgb(72, 185, 72);}
                    .btn__text--work{
                        font-size: 15px;
                        margin-left: 12px;
                        font-weight: 600;
                    }
                }
                .item_control--work:hover{
                    background-color: #f1d9ea;
                }
            }
        }





    }
}
